@import "../../assets/styles/theme/theme_variables";
@import url('https://fonts.googleapis.com/css?family=Abel|Bebas+Neue|Lobster&display=swap');

:root {
	font-family: "helvetica",
		times,
		serif;
}

// Typography
$headings-font-family: "Bebas Neue",
"helvetica",
times,
serif;
$headings-font-weight: 700;

$second-font-family: "Abel",
helvetica,
sans-serif;

$subheadings-font-family: "Lobster",
cursive;

$font-family-sans-serif: "helvetica",
times,
serif;
$font-family-base: "helvetica",
times,
serif;

$line-height-base: 2;

$gray-300: $gray-500;
$font-weight-base: 400;
$font-weight-normal: $font-weight-base;
$font-weight-bold: 600;

// Colors
$primary: #FCBD13;
$secondary: #FEC50A;
$success: #21a77a;
$info: #f7f7f9;
$warning: #ec971f;
$danger: #843534;
$dark: #000000;
$light: #ffffff;

$link-hover-color: #333333;
$link-color: #4a4a4a;
$gray-100: #ADB1B2;
$gray-200: #9b9b9b;
$gray-500: #d2d2d2;
$gray-600: rgba(151, 151, 151, 1);
$gray-700: #2b2b2b;
$gray-800: #767676;
$gray-900: #4a4a4a;

$body-color: black;
