@import "../../assets/styles/theme/theme_variables";

:root {
    font-family: Niveau-Grotesk, times, serif;
}

// Typography
$headings-font-family: Niveau-Grotesk,
'helvetica neue',
helvetica,
sans-serif;
$headings-font-weight: 700;

$font-family-sans-serif: Niveau-Grotesk,
sans-serif;
$font-family-base: Niveau-Grotesk,
serif;

$line-height-base: 2;


$gray-300: $gray-500;
$font-weight-base: 400;
$font-weight-normal: $font-weight-base;
$font-weight-bold: 600;

// Colors
$primary: #006a30;
$secondary: #d548ca;
$success: #21a77a;
$info: #f7f7f9;
$warning: #ec971f;
$danger: #843534;
$dark: #000000;
$light: #ffffff;

$link-hover-color: #006a30;
$link-color: #4a4a4a;

$gray-500: #d2d2d2;
$gray-600: rgba(151, 151, 151, 1);
$gray-700: #2b2b2b;
$gray-800: #767676;
$gray-900: #4a4a4a;

$body-color: black;