/****************************************************************************************/
/* Client Specific Styling
/****************************************************************************************/
@import "client_variables";

body {
  color: $gray-900;
  font-family: $font-family-base;
}

p {
  line-height: 2;
}

.wrapper {
  margin-top: -115px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 1200px) {
  .navbar .container {
    width: 1340px;
    max-width: 1340px;
  }
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/

.has-color-orange-color {
  color: $primary !important;
}

.has-color-yellow-color {
  color: $secondary !important;
}

.has-color-white-color {
  color: $light !important;
}

.has-color-black-color {
  color: $dark !important;
}

.has-color-gray-color {
  color: $gray-900 !important;
}

.bg-primary,
.has-color-orange-background-color {
  background-color: $primary;
}

.bg-secondary,
.has-color-yellow-background-color {
  background-color: $secondary;
}

.has-color-gray-background-color {
  background-color: $gray-100;
}

.has-color-white-background-color {
  background-color: #fff;
}

.has-color-black-background-color {
  background-color: #000;
}

.bg-success {
  background-color: $success;
}

.bg-info {
  background-color: $info;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

.bg-dark {
  background-color: $dark;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.cortextoo button,
.btn,
#topnav input[type="submit"],
.wp-block-button__link,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.editor-styles-wrapper .wp-block-button__link {
  text-transform: uppercase;
  border-radius: 34px;
  font-weight: 500;
}

.btn,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.cortextoo button,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
  font-family: $font-family-base;
}

.btn-secondary,
.cortextoo .entry-content .btn-secondary {
  background-color: $secondary;
}

.btn-signup .wp-block-button__link:before {
  display: inline;
  content: "\f005";
  font: normal normal normal 1.4rem/1 FontAwesome;
  color: #fff;
  padding-right: 8px;
}

.cortextoo button:hover,
.btn:hover,
.wp-block-button__link:hover,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .button-primary:hover,
.editor-styles-wrapper .mce-content-body.button:hover,
.editor-styles-wrapper .wp-block-button__link:hover {
  opacity: 0.8;
  color: #fff;
}

/* tags */
.i-tag {
  font-size: 1.6rem;
  letter-spacing: 0.137rem;
}

.i-tag:before {
  display: inline;
  content: "\f02b";
  font: normal normal normal 1.4rem/1 FontAwesome;
  color: $primary;
  padding-right: 4px;
}


/****************************************************************************************/
/* Client navbar */
/****************************************************************************************/

#wrapper-navbar {
  z-index: 1020;
  background-color: transparent;
}

.navbar {
  padding: 5px 0px;
}

.navbar-small {
  max-height: 55px;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-color: $light;
}

.navbar-small .navbar-brand img {
  max-height: 45px;
  width: auto;
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(43, 43, 43, 0.77);
  letter-spacing: 0.09rem;
}

.nav-search,
.nav-toggle {
  display: inline-block;
  font-size: 2rem;
  line-height: 2;
}

.nav-search {
  margin-right: 10px;
}

/* mega menu specifics */
.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item:not(.widget_custom_html) h4.mega-block-title,
.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item:not(.widget_custom_html) h4.mega-block-title {
  display: none;
  /* hide sub-labels on graphic brands */
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item.widget_custom_html h4.mega-block-title,
.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item.widget_custom_html h4.mega-block-title {
  font-family: $font-family-sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: $dark;
  letter-spacing: 0.08px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  padding: 25px 0px;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title:after,
.header-navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title:after {
  display: block;
  position: absolute;
  content: '';
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(254, 224, 43, 0.00)), color-stop(48%, #FEE02B), to(rgba(254, 224, 43, 0.00)));
  background-image: linear-gradient(270deg, rgba(254, 224, 43, 0.00) 0%, #FEE02B 48%, rgba(254, 224, 43, 0.00) 100%);
  width: 100%;
  height: 3px;
  bottom: 6px;
  right: 0;
  left: 0;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item .menu li.dropdown-header a {
  font-family: $headings-font-family !important;
  font-weight: 600 !important;
  font-size: 2.2rem !important;
  color: $dark;
  letter-spacing: 0.11px !important;
  text-align: left;
  line-height: .9 !important;
  text-transform: uppercase;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item .menu li.menu-item a {
  text-transform: none;
  font-weight: 300;
  font-family: 'abel', sans-serif;
  font-size: 1.5rem;
  color: $dark;
  letter-spacing: 0.05px;
  text-align: left;
  line-height: 2.4;
  transition: color .3s;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item .menu li.menu-item a:hover {
  color: $gray-100;
}

.mega-menu-item .menu .dropdown-header .header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column>ul.mega-sub-menu>li.mega-menu-item:first-child {
  margin-bottom: 20px;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column,
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-column {
  position: relative;
}

/* widths for mega menu columns */
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(1) {
  width: 25%;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(2) {
  width: 40%;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(3) {
  width: 35%;
}

/* side by side subnavs for mega menu men's + women's*/
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(3) .mega-sub-menu .mega-menu-item:nth-child(2),
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(3) .mega-sub-menu .mega-menu-item:nth-child(3),
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(2) .mega-sub-menu .mega-menu-item:nth-child(2),
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(2) .mega-sub-menu .mega-menu-item:nth-child(3) {
  display: inline-block;
  max-width: 46%;
  margin-right: 8%;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(3) .mega-sub-menu .mega-menu-item:nth-child(2) {
  max-width: 38%;
  margin-right: 16%;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(2) .mega-sub-menu .mega-menu-item:nth-child(3),
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:nth-child(3) .mega-sub-menu .mega-menu-item:nth-child(3) {
  margin-right: 0;
}

/* gray lines to right of each submenu section */
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:after,
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-column:after {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(151, 151, 151, 1) 23%, rgba(151, 151, 151, 1) 84%, rgba(255, 255, 255, 1) 100%);
  display: block;
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
}

/* hide last gray line on each submenu section*/
.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column:last-child:after {
  display: none;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column>ul.mega-sub-menu .widget_media_image {
  margin-bottom: 8px;
  max-width: 92%;
}

.mega-menu-item>.mega-sub-menu .mega-sub-menu>.mega-menu-column:first-child>.mega-sub-menu {
  padding: 0px 10px;
}

.header-navbar #mega-menu-wrap-primary #mega-menu-primary .mega-sub-menu .mega-menu-column:first-child .mega-sub-menu .widget_custom_html {
  margin-bottom: 15px;
}

.mega-menu-item>.mega-sub-menu .mega-sub-menu>.mega-menu-column>.mega-sub-menu {
  padding: 0px 40px;
}

@media only screen and (min-width: 1px) {
  .header-navbar {
    height: 55px;
  }

  .navbar-brand img {
    width: auto;
    max-height: 45px;
    height: auto;
  }

  #page .navbar-small-mobile {
    padding-bottom: 0px;
  }

  .navbar-small .navbar-brand {
    background: transparent url(/wp-content/uploads/2019/08/wells-lamont-logo-bloack.svg) center no-repeat;
    background-size: contain;
    max-width: 285px;
    max-height: 45px;
    width: auto;
    height: auto;
  }

  .navbar-small .navbar-brand img {
    opacity: 0;
  }

  .navbar .container .navbar-small-buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .btn-nav-search,
  .navbar-toggler {
    margin: 0px;
    padding: 5px;
    color: #000;
  }

  #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after {
    font-size: 3.5rem;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {

  .header-navbar #mega-menu-wrap-primary #mega-menu-primary .mega-menu-item .menu li.dropdown-header a {
    font-size: 1.5rem !important;
  }

}


@media only screen and (min-width: 768px) {
  .navbar-brand img {
    max-width: 285px;
    max-height: 92px;
    width: auto;
    height: auto;
  }

  .navbar-nav {
    width: 80%;
  }

  .header-navbar {
    height: 115px;
  }

}

@media only screen and (min-width: 992px) {

  .nav-search {
    display: none;
  }

}

/****************************************************************************************/
/* Client Typography */
/****************************************************************************************/
@import "https://use.typekit.net/ytq2zwn.css";
@import "https://fonts.googleapis.com/css?family=Abel&display=swap";
// font-family: 'abel', sans-serif
// font-family: bebas-neue-by-fontfabric, sans-serif;
// font-weight: 400;
// font-weight: 700;
// font-style: normal;

@font-face {
  font-family: 'wisdom-script';
  src: url('wisdom-script.otf');
  font-weight: normal;
  font-style: normal;
}

.c9-site-title,
.cortextoo .h1,
.cortextoo .h2,
.cortextoo .h3,
.cortextoo .h4,
.cortextoo .h5,
.cortextoo .h6,
.cortextoo h1,
.cortextoo h2,
.cortextoo h3,
.cortextoo h4,
.cortextoo h5,
.cortextoo h6,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  font-family: $headings-font-family;
  font-weight: 700;
}

.navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
  font-family: $headings-font-family;
  color: #fff;
  letter-spacing: 0.056rem;
  line-height: .95;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.navbar.navbar-small #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
  text-shadow: none;
  color: #000;
}

@media only screen and (max-width: 991px) and (min-width: 1px) {
  .mega-menu-primary-mobile-open .navbar.fixed-top #mega-menu-wrap-primary #mega-menu-primary {
    top: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    color: #000;
    text-shadow: none;
  }
}

.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: $headings-font-family;
  line-height: 1.1;
}

p.wp-block-subhead,
.subhead-h,
.c9-sh,
.text-muted,
.cortextoo .c9-sh,
.cortextoo .text-muted {
  font-family: 'wisdom-script', $font-family-sans-serif;
  color: #FEC50A;
}

.text-muted {
  color: #FEC50A !important;
}

.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-heading h1.subhead-h1,
.editor-styles-wrapper .c9-heading h2.subhead-h2,
.editor-styles-wrapper .c9-heading h3.subhead-h3,
.editor-styles-wrapper .c9-heading h4.subhead-h4,
.editor-styles-wrapper .c9-heading h5.subhead-h5,
.editor-styles-wrapper .c9-heading h6.subhead-h6 {
  font-family: 'wisdom-script', $font-family-sans-serif;
  font-weight: 700;
}

.entry-content,
.editor-styles-wrapper p,
.editor-styles-wrapper .container p,
.editor-styles-wrapper .editor-rich-text .mce-content-body p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-file,
.wp-block-pullquote,
.wp-block-pullquote blockquote p,
.editor-default-block-appender textarea.editor-default-block-appender__content,
#wrapper-footer {
  font-size: 2rem;
  word-wrap: break-word;
  font-family: $font-family-base;
}

.entry-content h1,
.entry-content .h1,
.wp-block-heading h1,
.entry-header h1 {
  font-size: 7.9rem
}

.entry-content h2,
.entry-content .h2,
.wp-block-heading h2 {
  font-size: 5.6rem
}

.entry-content h3,
.entry-content .h3,
.wp-block-heading h3 {
  font-size: 4rem
}

.entry-content h4,
.entry-content .h4,
.wp-block-heading h4 {
  font-size: 2.8rem
}

.entry-content h5,
.entry-content .h5,
.wp-block-heading h5 {
  font-size: 2rem
}

.entry-content h6,
.entry-content .h6,
.wp-block-heading h6 {
  font-size: 1.4rem
}

.entry-header h2 {
  font-size: 3rem;
}

/* Responsive Typography */
@media only screen and (max-width: 575px) {

  .entry-content p[class$="-font-size"] {
    line-height: 1;
  }
}

@media only screen and (min-width: 1px) {

  /* section heading accents */
  .editor-styles-wrapper .editor-rich-text .section-heading-accent,
  .section-heading-accent,
  .editor-styles-wrapper .editor-rich-text .section-heading-accent-alt,
  .section-heading-accent-alt,
  .entry-content .section-heading-accent-alt,
  .entry-content h3.section-heading-accent,
  .entry-content h3.section-heading-accent-alt {
    margin: 10px auto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
  }
}

@media only screen and (min-width: 768px) {

  /* subheadings */
  .entry-content .subheading1,
  .entry-content .subheading2,
  .entry-content .subheading3,
  .entry-content .subheading4,
  .entry-content .subheading5,
  .wp-block-heading .subheading1,
  .wp-block-heading .subheading2,
  .wp-block-heading .subheading3,
  .wp-block-heading .subheading4,
  .wp-block-heading .subheading5 {
    font-weight: 400;
    font-size: 2.6rem;
    letter-spacing: 0.055rem;
  }

  .entry-content .subheading2,
  .wp-block-heading .subheading2,
  .subheading2 {
    font-weight: 500;
    font-size: 2.3rem;
    letter-spacing: 0.12rem;
  }

  .entry-content .subheading3,
  .wp-block-heading .subheading3,
  .subheading3 {
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .entry-content .subheading4,
  .wp-block-heading .subheading4,
  .subheading4 {
    font-size: 1.6rem;
    letter-spacing: 0.001rem;
  }

  .entry-content .subheading5,
  .wp-block-heading .subheading5,
  .subheading5 {
    font-size: 1.4rem;
    letter-spacing: 0.125rem;
    font-weight: $font-weight-normal;
  }

  .icon-label,
  .entry-content .icon-label,
  .wp-block-heading .icon-label {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 1.8rem !important;
    letter-spacing: 0.2rem;
    line-height: 1.1;
  }

  .entry-meta,
  .entry-meta a {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    line-height: 1;
    font-size: 1.4rem;
    color: $gray-700;
  }

  .entry-footer .comments-link {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  /* WordPress Gutenberg Font Sizes */
  .has-small-font-size {
    font-size: 1.4rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.125rem;
  }
}

/****************************************************************************************/
/* Client page title header on logins, search, pages, posts, etc. */
/****************************************************************************************/
.page-template-fullwidthpage .cortextoo .entry-header,
.container-width-page-wrapper.cortextoo .page .entry-header {
  background-color: $primary;
}

.cortextoo .entry-header {
  margin-bottom: 20px;
}

.page-search-results .home-search .entry-title {
  color: $light;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.12rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 80px;
}

.page-search-results .header-container-search {
  min-height: 36vh;
  background: transparent url(/wp-content/uploads/2019/03/bg-tile-talent-dark.jpg) top left repeat;
  background-size: 80%;
  background-attachment: scroll;
  background-blend-mode: overlay;
}

@media only screen and (min-width: 1px) {
  .cortextoo .page .entry-header h1 {
    font-size: 5rem;
    text-align: center;
    color: $light;
    margin: 70px auto;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) {
  .cortextoo .page .entry-header h1 {
    font-size: 8rem;
  }
}

/****************************************************************************************/
/* Client unordered list stylings */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol,
.editor-styles-wrapper .editor-rich-text ol,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
  line-height: 2;
}

.entry-content ul:not(.wp-block-gallery),
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
  list-style: none;
  font-size: 2rem;
}

.entry-content ul:not(.wp-block-gallery) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li {
  line-height: 1.6;
  font-size: 2rem;
}

.entry-content ol li,
.editor-styles-wrapper .editor-rich-text ol li,
.entry-content ul:not(.wp-block-gallery) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li {
  margin: 15px 0px;
}

.entry-content ul:not(.wp-block-gallery) li:before,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li:before {
  content: " ";
  display: inline;
  margin-left: -45px;
  padding-left: 45px;
  line-height: 2;
  background-size: 25px 25px;
}

/* horizontal rules customized*/
.entry-content .wp-block-column .wp-block-separator.is-style-wide,
.wp-block-columns .wp-block-separator.is-style-wide {
  width: 60%;
  max-width: 60%;
}

/****************************************************************************************/
/* Client Tabs + Toggles */
/****************************************************************************************/
.c9-toggles .c9-toggles-toggle {
  padding: 35px 0px 15px 0px;
  border-top: 1px solid #979797;
}

.c9-toggles .c9-toggles-toggle:last-child {
  border-bottom: 1px solid #979797;
}

.c9-toggles .c9-toggles-item-heading .c9-toggles-toggle-label {
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: #000000;
  font-size: 7.9rem;
  text-align: left;
  line-height: .9;
}

/* small style toggle */
.c9-toggles.small-toggle .c9-toggles-toggle {
  padding: 25px 0px;
  border: none;
}

.c9-toggles.small-toggle .c9-toggles-toggle:last-child {
  border: none;
}

.c9-toggles.small-toggle .c9-toggles-toggle .mb-0 {
  position: relative;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-heading {
  padding-left: 50px;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-heading .c9-toggles-toggle-label {
  font-family: helvetica, arial, verdana;
  font-size: 2.4rem;
  color: #000000;
  letter-spacing: 0.05px;
  text-align: left;
  line-height: 1.2;
  text-transform: none;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-collapse {
  position: absolute;
  left: -50px;
  top: 0;
  right: auto;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-collapse .fas,
.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-heading:not([data-toggle="collapse"]) .c9-toggles-item-collapse .fa-angle-right,
.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-heading[aria-expanded="true"] .c9-toggles-item-collapse .fa-angle-right {
  -webkit-transform: none;
  transform: none;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2.8px solid #000000;
  padding: 5px;
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.c9-toggles.small-toggle .c9-toggles-toggle .fa-angle-right:before {
  content: '\f067';
  color: #EBB900;
  font-size: 16px;
  display: block;
  padding-top: 2px;
}

.c9-toggles.small-toggle .c9-toggles-toggle .c9-toggles-item-heading[aria-expanded="true"] .fa-angle-right:before {
  content: '\f068';
}

/****************************************************************************************/
/* Client Footer */
/****************************************************************************************/

#wrapper-footer-full {
  color: $gray-100;
  background-color: transparent;
  margin-top: 0px;
}

#wrapper-footer {
  color: $gray-100;
}

#wrapper-footer-full a {
  color: $dark;
}

#wrapper-footer-full a:hover {
  color: $gray-300;
}

/****************************************************************************************/
/* Client widget customizations*/
/****************************************************************************************/

/* all widgets */
.footer-widget .menu .menu-item,
.footer-widget ul li {
  font-size: 1.5rem;
  line-height: 2;
  text-transform: capitalize;
  padding-left: 0px;
  margin: 0;
}

.footer-widget h3 {
  font-size: 2.4rem;
  letter-spacing: 0.115rem;
  line-height: 1.8;
  color: $light;
  font-weight: $font-weight-bold;
}

/* footer latest posts news */
.c9-recent-posts .c9-article-title .entry-title {
  font-size: 1.5rem;
  color: $gray-800;
}

.c9-recent-posts .c9-article-title {
  line-height: 1;
}

.c9-recent-posts .c9-article-title .c9-article-date {
  font-size: 1.4rem;
  line-height: 1;
}

/* social icons */
.widget_cortex_subscribe_widget ul li {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
}

.widget_cortex_subscribe_widget ul li a:hover {
  background-color: $secondary;
}

/****************************************************************************************/
/* Client Gravity Forms */
/****************************************************************************************/
.ginput_card_expiration_container select,
.ginput_card_expiration_container label {
  float: left;
}

.cortextoo .ginput_container_creditcard label,
.cortextoo .ginput_card_expiration_container label {
  margin-bottom: 10px !important;
}

.ginput_card_expiration_container:after {
  content: "";
  display: block;
  clear: both;
}

.cortextoo .gform_wrapper .field_description_below .gfield_description {
  padding-top: 0px;
}

.page-login .gform_login_widget {
  margin-bottom: 60px;
}

/****************************************************************************************/
/* Client Custom Blocks */
/****************************************************************************************/