/****************************************************************************************/
/***************************** C9 Work Client Editor Changes
/****************************************************************************************/
@import "client_variables";

.editor-styles-wrapper .wp-block-paragraph a {
	color: $dark;
	text-decoration: underline;
}

.editor-styles-wrapper .wp-block-paragraph a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

.editor-styles-wrapper p a {
	background: linear-gradient(0deg, rgba(74, 74, 74, 0.4) 12%, rgba(74, 74, 74, 0) 12%);
	text-decoration: none;
}

.editor-styles-wrapper p a:hover {
	background: linear-gradient(0deg, rgba(74, 74, 74, 0.6) 20%, rgba(74, 74, 74, 0) 20%);
}

/****************************************************************************************/
/***************************** Typography
/****************************************************************************************/

.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
	color: $gray-900;
	margin: 15px 0px;
}

.editor-styles-wrapper ul:not(.blocks-gallery-grid):not(.nav-tabs):not(.c9-share-list):not(.wp-block-social-links) li {
	margin: 15px 0px;
}

.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	letter-spacing: 0.02em;
	line-height: 1.2;
}

.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .text-muted,
.editor-styles-wrapper .block-editor-block-list__layout .c9-cta .c9-sh p {
	font-weight: normal;
}

/* overrides inline styles from backend editor */
.editor-styles-wrapper .block-editor-block-list__layout .h1,
.editor-styles-wrapper .block-editor-block-list__layout .h2,
.editor-styles-wrapper .block-editor-block-list__layout .h3,
.editor-styles-wrapper .block-editor-block-list__layout .h4,
.editor-styles-wrapper .block-editor-block-list__layout .h5,
.editor-styles-wrapper .block-editor-block-list__layout .h6,
.editor-styles-wrapper .block-editor-block-list__layout h1,
.editor-styles-wrapper .block-editor-block-list__layout h2,
.editor-styles-wrapper .block-editor-block-list__layout h3,
.editor-styles-wrapper .block-editor-block-list__layout h4,
.editor-styles-wrapper .block-editor-block-list__layout h5,
.editor-styles-wrapper .block-editor-block-list__layout h6 {
	margin-top: 0px;
	margin-bottom: 5px;
}

/****************************************************************************************/
/***************************** Gutenberg Block Changes
/****************************************************************************************/
/* custom tabs */
.editor-styles-wrapper .c9-horizontal-tabs ul.nav.nav-tabs {
	margin: 30px 0px 0px 0px;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link {
	font-size: 15px;
}

.editor-styles-wrapper .c9-horizontal-tabs .blocks-gallery-grid .blocks-gallery-item a {
	text-decoration: none;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link {
	background-color: #adb1b2;
	color: $gray-700;
}

.editor-styles-wrapper .nav.nav-tabs .nav-item {
	margin: 0px 10px;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link:hover {
	color: $gray-700;
	background-image: linear-gradient(35deg, #fff 75%, $primary 25%);
	background-color: $light;
	border-bottom: 0px;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link.active {
	background-color: $primary;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link.active,
.editor-styles-wrapper .woocommerce div.product .woocommerce-tabs ul.tabs li.active a.nav-link {
	background-color: $primary;
}

.editor-styles-wrapper .c9-horizontal-tabs ul.nav.nav-tabs {
	margin: 30px 0px 0px 0px !important;
}

div[data-type="c9-blocks/horizontal-tabs"] .wp-block[data-type="core/button"] {
	margin-left: 0;
	margin-right: 0;
}

.editor-styles-wrapper div[data-type="c9-blocks/horizontal-tabs"] .wp-block-buttons .wp-block-button {
	margin-right: 8px;
}

/* buttons */
.editor-styles-wrapper .c9-block-cta .c9-cta-content .wp-block-button__link {
	font-size: 20px;
}

/* search widget block */
.wp-block-search .wp-block-search__button .wp-block-search__button-rich-text {
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__button {
	font-weight: 600;
}

/* toggles */
.block-editor-block-list__layout .block-editor-block-list__block[data-type="c9-blocks/toggles"] {
	padding-left: 0px;
	padding-right: 0px;
}

/* grids inside of grids inside of tabs */
@media only screen and (min-width: 1200px) {

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container .c9-grid .container,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container .c9-grid .container {
		width: auto;
		min-width: 600px;
	}
}

/* buttons */
.wp-block[data-align="center"] .wp-block-buttons .block-editor-block-list__layout {
	text-align: center;
}

/* woocommerce product blocks */
.editor-styles-wrapper .wc-block-grid a:not(.wp-block-button__link),
.editor-styles-wrapper .wc-block-grid .wc-block-grid_product a.wc-block-grid_product-link {
	text-decoration: none;
}

/****************************************************************************************/
/***************************** Gravity Forms Backend Adjustments
/****************************************************************************************/
.editor-styles-wrapper .gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.editor-styles-wrapper .gform_wrapper input[type="password"],
.editor-styles-wrapper .gform_wrapper input[type="tel"],
.editor-styles-wrapper .gform_wrapper input[type="text"],
.editor-styles-wrapper .gform_wrapper textarea,
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type="password"],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type="tel"],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type="text"],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper textarea {
	font-size: 16px;
	min-height: 50px;
}
