/****************************************************************************************/
/* Client Specific Styling
/****************************************************************************************/
@import "client_variables";

body {
  color: $gray-900;
  font-family: $font-family-base;
}

p {
  line-height: 2;
}

:root {
  font-size: 62.5%;
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/

.has-color-green-color {
  color: $primary !important;
}

.has-color-pink-color {
  color: $secondary !important;
}

.has-color-white-color {
  color: $light !important;
}

.has-color-black-color {
  color: $dark !important;
}

.has-color-gray-color {
  color: $gray-900 !important;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-success {
  background-color: $success;
}

.bg-info {
  background-color: $info;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

.bg-dark {
  background-color: $dark;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.cortextoo button,
.btn,
#topnav input[type="submit"],
.wp-block-button__link,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.editor-styles-wrapper .wp-block-button__link {
  text-transform: uppercase;
  border-radius: 34px;
  font-weight: 500;
}

.btn,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.cortextoo button,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
  font-family: $font-family-base;
}

.btn-secondary,
.cortextoo .entry-content .btn-secondary {
  background-color: $secondary;
}

.btn-signup .wp-block-button__link:before {
  display: inline;
  content: "\f005";
  font: normal normal normal 1.4rem/1 FontAwesome;
  color: #fff;
  padding-right: 8px;
}

.cortextoo button:hover,
.btn:hover,
.wp-block-button__link:hover,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .button-primary:hover,
.editor-styles-wrapper .mce-content-body.button:hover,
.editor-styles-wrapper .wp-block-button__link:hover {
  opacity: 0.8;
  color: #fff;
}

/* tags */
.i-tag {
  font-size: 1.6rem;
  letter-spacing: 0.137rem;
}

.i-tag:before {
  display: inline;
  content: "\f02b";
  font: normal normal normal 1.4rem/1 FontAwesome;
  color: $primary;
  padding-right: 4px;
}


/****************************************************************************************/
/* Client navbar */
/****************************************************************************************/

#wrapper-navbar {
  z-index: 1020;
  background-color: $light;
}

.navbar {
  padding: 5px 0px;
  background-color: $light;
}

.navbar-small {
  max-height: 55px;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.navbar-small .navbar-brand img {
  max-height: 45px;
  width: auto;
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(43, 43, 43, 0.77);
  letter-spacing: 0.09rem;
}

.nav-search,
.nav-toggle {
  display: inline-block;
  font-size: 2rem;
  line-height: 2;
}

.nav-search {
  margin-right: 10px;
}

@media only screen and (min-width: 1px) {
  .header-navbar {
    height: 55px;
  }

  .navbar-brand img {
    width: auto;
    max-height: 45px;
    height: auto;
  }

  #page .navbar-small-mobile {
    padding-bottom: 0px;
  }

  .navbar {
    display: block;
  }

  .navbar .container .navbar-small-buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .btn-nav-search,
  .navbar-toggler {
    margin: 0px;
    padding: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand img {
    width: 285px;
    max-height: 92px;
    height: auto;
  }

  .navbar-nav {
    width: 80%;
  }

  .header-navbar {
    height: 115px;
  }

}

@media only screen and (min-width: 992px) {
  .nav-search {
    display: none;
  }
}

/****************************************************************************************/
/* Client Typography */
/****************************************************************************************/
.entry-content,
.editor-styles-wrapper p,
.editor-styles-wrapper .container p,
.editor-styles-wrapper .editor-rich-text .mce-content-body p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-file,
.wp-block-pullquote,
.wp-block-pullquote blockquote p,
.editor-default-block-appender textarea.editor-default-block-appender__content,
#wrapper-footer {
  font-size: 2rem;
  word-wrap: break-word;
  font-family: $font-family-base;
}

/* Responsive Typography */
@media only screen and (max-width: 575px) {

  .entry-content p[class$="-font-size"] {
    line-height: 1;
  }
}

@media only screen and (min-width: 1px) {

  /* section heading accents */
  .editor-styles-wrapper .editor-rich-text .section-heading-accent,
  .section-heading-accent,
  .editor-styles-wrapper .editor-rich-text .section-heading-accent-alt,
  .section-heading-accent-alt,
  .entry-content .section-heading-accent-alt,
  .entry-content h3.section-heading-accent,
  .entry-content h3.section-heading-accent-alt {
    margin: 10px auto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
  }
}

@media only screen and (min-width: 768px) {

  /* subheadings */
  .entry-content .subheading1,
  .entry-content .subheading2,
  .entry-content .subheading3,
  .entry-content .subheading4,
  .entry-content .subheading5,
  .wp-block-heading .subheading1,
  .wp-block-heading .subheading2,
  .wp-block-heading .subheading3,
  .wp-block-heading .subheading4,
  .wp-block-heading .subheading5 {
    font-weight: 400;
    font-size: 2.6rem;
    letter-spacing: 0.055rem;
  }

  .entry-content .subheading2,
  .wp-block-heading .subheading2,
  .subheading2 {
    font-weight: 500;
    font-size: 2.3rem;
    letter-spacing: 0.12rem;
  }

  .entry-content .subheading3,
  .wp-block-heading .subheading3,
  .subheading3 {
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .entry-content .subheading4,
  .wp-block-heading .subheading4,
  .subheading4 {
    font-size: 1.6rem;
    letter-spacing: 0.001rem;
  }

  .entry-content .subheading5,
  .wp-block-heading .subheading5,
  .subheading5 {
    font-size: 1.4rem;
    letter-spacing: 0.125rem;
    font-weight: $font-weight-normal;
  }

  .icon-label,
  .entry-content .icon-label,
  .wp-block-heading .icon-label {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 1.8rem !important;
    letter-spacing: 0.2rem;
    line-height: 1.1;
  }

  .entry-meta,
  .entry-meta a {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    line-height: 1;
    font-size: 1.4rem;
    color: $gray-700;
  }

  .entry-footer .comments-link {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  /* WordPress Gutenberg Font Sizes */
  .has-small-font-size {
    font-size: 1.4rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.125rem;
  }
}

/****************************************************************************************/
/* Client page title header on logins, search, pages, posts, etc. */
/****************************************************************************************/
.page-template-fullwidthpage .cortextoo .entry-header,
.container-width-page-wrapper.cortextoo .page .entry-header {
  background-color: $primary;
}

.cortextoo .entry-header {
  margin-bottom: 20px;
}

.page-search-results .home-search .entry-title {
  color: $light;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.12rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 80px;
}

.page-search-results .header-container-search {
  min-height: 36vh;
  background: transparent url(/wp-content/uploads/2019/03/bg-tile-talent-dark.jpg) top left repeat;
  background-size: 80%;
  background-attachment: scroll;
  background-blend-mode: overlay;
}

@media only screen and (min-width: 1px) {
  .cortextoo .page .entry-header h1 {
    font-size: 5rem;
    text-align: center;
    color: $light;
    margin: 70px auto;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) {
  .cortextoo .page .entry-header h1 {
    font-size: 8rem;
  }
}

/****************************************************************************************/
/* Client unordered list stylings */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol,
.editor-styles-wrapper .editor-rich-text ol,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
  line-height: 2;
}

.entry-content ul:not(.wp-block-gallery),
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
  list-style: none;
  font-size: 2rem;
}

.entry-content ul:not(.wp-block-gallery) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li {
  line-height: 1.6;
  font-size: 2rem;
}

.entry-content ol li,
.editor-styles-wrapper .editor-rich-text ol li,
.entry-content ul:not(.wp-block-gallery) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li {
  margin: 15px 0px;
}

.entry-content ul:not(.wp-block-gallery) li:before,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li:before {
  content: " ";
  display: inline;
  margin-left: -45px;
  padding-left: 45px;
  line-height: 2;
  background-size: 25px 25px;
}

/* horizontal rules customized*/
.entry-content .wp-block-column .wp-block-separator.is-style-wide,
.wp-block-columns .wp-block-separator.is-style-wide {
  width: 60%;
  max-width: 60%;
}

/****************************************************************************************/
/* Client Footer */
/****************************************************************************************/

#wrapper-footer-full {
  background-color: $primary;
  color: $light;
}

#wrapper-footer {
  background-color: $primary;
  color: $light;
}

#wrapper-footer-full a {
  color: $light;
}

#wrapper-footer-full a:hover {
  color: $gray-300;
}

/****************************************************************************************/
/* Client widget customizations*/
/****************************************************************************************/

/* all widgets */
.footer-widget .menu .menu-item,
.footer-widget ul li {
  font-size: 1.5rem;
  line-height: 2;
  text-transform: capitalize;
  padding-left: 0px;
  margin: 0;
}

.footer-widget h3 {
  font-size: 2.4rem;
  letter-spacing: 0.115rem;
  line-height: 1.8;
  color: $light;
  font-weight: $font-weight-bold;
}

/* footer latest posts news */
.c9-recent-posts .c9-article-title .entry-title {
  font-size: 1.5rem;
  color: $gray-800;
}

.c9-recent-posts .c9-article-title {
  line-height: 1;
}

.c9-recent-posts .c9-article-title .c9-article-date {
  font-size: 1.4rem;
  line-height: 1;
}

/* social icons */
.widget_cortex_subscribe_widget ul li {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
}

.widget_cortex_subscribe_widget ul li a:hover {
  background-color: $secondary;
}

/****************************************************************************************/
/* Client Gravity Forms */
/****************************************************************************************/
.ginput_card_expiration_container select,
.ginput_card_expiration_container label {
  float: left;
}

.cortextoo .ginput_container_creditcard label,
.cortextoo .ginput_card_expiration_container label {
  margin-bottom: 10px !important;
}

.ginput_card_expiration_container:after {
  content: "";
  display: block;
  clear: both;
}

.cortextoo .gform_wrapper .field_description_below .gfield_description {
  padding-top: 0px;
}

.page-login .gform_login_widget {
  margin-bottom: 60px;
}

/****************************************************************************************/
/* Client Custom Blocks */
/****************************************************************************************/