/****************************************************************************************/
/***************************** C9 Work Client Editor Changes
/****************************************************************************************/
@import "client_variables";

.editor-styles-wrapper .wp-block-paragraph a {
	color: $dark;
	text-decoration: underline;
}

.editor-styles-wrapper .wp-block-paragraph a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

/****************************************************************************************/
/***************************** Typography
/****************************************************************************************/
.editor-styles-wrapper p,
.editor-styles-wrapper .container p,
.editor-styles-wrapper .editor-rich-text .mce-content-body p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-file,
.editor-default-block-appender textarea.editor-default-block-appender__content {
	word-wrap: break-word;
	font-family: $font-family-base;
}

.editor-styles-wrapper .c9-cta-text.c9-h p,
.editor-styles-wrapper .container .c9-cta-text.c9-h p {
	font-family: $headings-font-family;
}

.editor-styles-wrapper,
.editor-post-title__block .editor-post-title__input {
	font-family: $font-family-base !important;
}

.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
	color: $gray-900;
}

.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: $headings-font-family;
	letter-spacing: .02em;
	line-height: 1.2;
}

.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .text-muted,
.editor-styles-wrapper .block-editor-block-list__layout .c9-cta .c9-sh p {
	font-family: $subheadings-font-family;
	font-weight: normal;
}

/* overrides inline styles from backend editor */
.editor-styles-wrapper .block-editor-block-list__layout .h1,
.editor-styles-wrapper .block-editor-block-list__layout .h2,
.editor-styles-wrapper .block-editor-block-list__layout .h3,
.editor-styles-wrapper .block-editor-block-list__layout .h4,
.editor-styles-wrapper .block-editor-block-list__layout .h5,
.editor-styles-wrapper .block-editor-block-list__layout .h6,
.editor-styles-wrapper .block-editor-block-list__layout h1,
.editor-styles-wrapper .block-editor-block-list__layout h2,
.editor-styles-wrapper .block-editor-block-list__layout h3,
.editor-styles-wrapper .block-editor-block-list__layout h4,
.editor-styles-wrapper .block-editor-block-list__layout h5,
.editor-styles-wrapper .block-editor-block-list__layout h6 {
	margin-top: 0px;
	margin-bottom: 5px;
}


.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-heading h1.subhead-h1,
.editor-styles-wrapper .c9-heading h2.subhead-h2,
.editor-styles-wrapper .c9-heading h3.subhead-h3,
.editor-styles-wrapper .c9-heading h4.subhead-h4,
.editor-styles-wrapper .c9-heading h5.subhead-h5,
.editor-styles-wrapper .c9-heading h6.subhead-h6,
.editor-styles-wrapper .c9-heading .h1 .text-muted,
.editor-styles-wrapper .c9-heading .h2 .text-muted,
.editor-styles-wrapper .c9-heading .h3 .text-muted,
.editor-styles-wrapper .c9-heading .h4 .text-muted,
.editor-styles-wrapper .c9-heading .h5 .text-muted,
.editor-styles-wrapper .c9-heading .h6 .text-muted {
	font-family: $subheadings-font-family;
}

.editor-styles-wrapper .c9-toggles .c9-toggles-item-heading .c9-toggles-label {
	font-family: $headings-font-family !important;
}

.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-heading h1.subhead-h1,
.editor-styles-wrapper .c9-heading h2.subhead-h2,
.editor-styles-wrapper .c9-heading h3.subhead-h3,
.editor-styles-wrapper .c9-heading h4.subhead-h4,
.editor-styles-wrapper .c9-heading h5.subhead-h5,
.editor-styles-wrapper .c9-heading h6.subhead-h6 {
	font-family: $subheadings-font-family;
}

/****************************************************************************************/
/***************************** Gutenberg Block Changes
/****************************************************************************************/
/* custom tabs */
.editor-styles-wrapper .c9-horizontal-tabs ul.nav.nav-tabs {
	margin: 30px 0px 0px 0px;
}

.editor-styles-wrapper .c9-horizontal-tabs .blocks-gallery-grid .blocks-gallery-item a {
	text-decoration: none;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link {
	background-color: #adb1b2;
	color: $gray-700;
}

.editor-styles-wrapper .nav.nav-tabs .nav-item {
	margin: 0px 10px;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link:hover {
	color: $gray-700;
	background-image: linear-gradient(35deg, #fff 75%, $primary 25%);
	background-color: $light;
	border-bottom: 0px;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link.active {
	background-color: $primary;
}

.editor-styles-wrapper .c9-horizontal-tabs .nav-tabs .nav-link.active,
.editor-styles-wrapper .woocommerce div.product .woocommerce-tabs ul.tabs li.active a.nav-link {
	background-color: $primary;
	padding: 13px 35px;
}

.editor-styles-wrapper .c9-horizontal-tabs ul.nav.nav-tabs {
	margin: 30px 0px 0px 0px !important;
}

/* buttons */
.editor-styles-wrapper .c9-block-cta .c9-cta-content .wp-block-button__link {
	font-size: 20px;
}

/* search widget block */
.wp-block-search .wp-block-search__button .wp-block-search__button-rich-text {
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__button {
	font-weight: 600;
}

/* grids inside of grids inside of tabs */
@media only screen and (min-width: 1200px) {

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container .c9-grid .container,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container .c9-grid .container {
		width: auto;
		min-width: 600px;
	}
}

/* woocommerce product blocks */
.editor-styles-wrapper .wc-block-grid a:not(.wp-block-button__link),
.editor-styles-wrapper .wc-block-grid .wc-block-grid_product a.wc-block-grid_product-link {
	text-decoration: none;
}

/****************************************************************************************/
/***************************** Gravity Forms Backend Adjustments
/****************************************************************************************/
.editor-styles-wrapper .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.editor-styles-wrapper .gform_wrapper input[type=password],
.editor-styles-wrapper .gform_wrapper input[type=tel],
.editor-styles-wrapper .gform_wrapper input[type=text],
.editor-styles-wrapper .gform_wrapper textarea,
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type=password],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type=tel],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper input[type=text],
.editor-styles-wrapper .wp-block[data-type="gravityforms/block"] .gform_wrapper textarea {
	font-size: 16px;
	min-height: 50px;
}
