/****************************************************************************************/
/***************************** c9 core block edits for client custom theme
/****************************************************************************************/
@import "client_variables";

.editor-styles-wrapper,
.wp-block-pullquote blockquote>.block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block-pullquote blockquote>.editor-rich-text p {
  font-size: 2rem;
}

.editor-styles-wrapper,
.editor-post-title__block .editor-post-title__input {
  font-family: $font-family-base !important;
}

.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
  font-size: 2rem;
  color: $gray-900;
}

.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
}

.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-heading h1.subhead-h1,
.editor-styles-wrapper .c9-heading h2.subhead-h2,
.editor-styles-wrapper .c9-heading h3.subhead-h3,
.editor-styles-wrapper .c9-heading h4.subhead-h4,
.editor-styles-wrapper .c9-heading h5.subhead-h5,
.editor-styles-wrapper .c9-heading h6.subhead-h6 {
  font-family: 'wisdom-script', $font-family-sans-serif;
}

.editor-styles-wrapper .c9-toggles .c9-toggles-item-heading .c9-toggles-label {
  font-family: $headings-font-family !important;
}

.editor-styles-wrapper .c9-h,
.editor-styles-wrapper .c9-h.h,
.editor-styles-wrapper .c9-txl,
.editor-styles-wrapper .display-1,
.editor-styles-wrapper .display-2,
.editor-styles-wrapper .display-3,
.editor-styles-wrapper .display-4,
.editor-styles-wrapper .display-5,
.editor-styles-wrapper .display-6 {
  line-height: .9 !important;
}